* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "navbar     navbar     navbar"
        "sectionOne sectionTwo sectionThree"
        "footer     footer     footer";
    height: 100vh;
    background-color: #b770da;
}

nav {
    grid-area: navbar;
    padding: 10px 0;
    width: 100%;
    position: sticky;
    top: 0;
}


.topnav {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


footer {
    grid-area: footer;
    padding: 10px 15px;
    text-align: center;
    background-color: black;
    color: gray;
    text-align: right;
    font-size: smaller;
}

a:hover {
    color: #ddd;
}

.sectionOne {
    grid-area: sectionOne;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sectionTwo {
    grid-area: sectionTwo;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sectionThree {
    grid-area: sectionThree;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding: 20px;
    font-size: large;
    text-align: center;
}

a {
    text-decoration: none;
    color: gray;
}