body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "navbar  navbar"
        "header  header"
        "main    main"
        "footer  footer"
}

img {
    width: auto;
}

nav {
    grid-area: navbar
}

header {
    height: 100vh;
    grid-area: header;
}

main {
    grid-area: main;
    
}

footer {
    grid-area: footer;
}